<div class="auth-form">
  <h2>Welcome Back</h2>
  <p>Please enter your details to log in</p>
  
  <form action="/auth/login" method="POST">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required autofocus>
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Min 8 Characters" required>
      <div class="d-flex justify-end">
        <a href="/auth/forgot-password" class="forgot-password">Forgot Password?</a>
      </div>
    </div>
    
    <button type="submit" class="btn btn-block">LOGIN</button>
  </form>
  
  <div class="social-login">
    <p class="divider"><span>OR</span></p>
    <a href="/auth/google" class="btn btn-google">
      <img src="/images/google.webp" alt="Google logo" width="18" height="18">
      Login with Google
    </a>
  </div>
  
  <p>Don't have an account? <a href="/auth/register">Sign Up</a></p>
</div> 